{% extends 'base.html' %}




        <head>
            <title>STOCK SOL</title>
            <link rel="stylesheet" href="Static/css/mystyle.css">

        </head>
            
            <header>
                
               
            </header>
            <main>
                {% block content %} 
                <section id="home">
                    <div class="section-inner">
                        <img src="Static/img/stocksolwhite1.png" >
                        <a href="service/" style = "margin:20px auto; text-align: center ; display:block ; width : 120px;">Get Started</a>
                    </div>
                </section>
                <section id="about">
                    <div class="section-inner">
                        <h2>Vision</h2>
                        <p>Our Goal is to provide the average investor with deeper insights about the company they are trying to invest in with a major focus in the financials of the corporation.</p>
                     
                    </div>
                </section>
                <section id="contact">
                    <div class="section-inner">
                        <h2>Contact me</h2>
                        <p>You can find me on:</p>
                        <ul>
                            <li><a href="https://www.instagram.com/archhhit/">Instagram </a></li>
                            <li><a href = "https://www.linkedin.com/in/archit-sharma0008/">LinkedIn </a></li>
                        </ul>
                        <p>Or, you can <a href="mailto:shara9@mcmaster.ca">send me an email</a>.</p>
                    </div>
                </section>
                {% endblock %} 
            </main>
            <footer>
                © Copyright StockSol , 2023
            </footer>
        </body>
    </html>    
<!-- Content will go here -->






</body>
</html>